:host {
    display: flex;
}

ul {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
}

.toopings {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid grey;
   
    .tooping {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}