:host {
    margin-left: 10px;
}
.card-toopings {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
}

.tooping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

button {
    margin-left: 10px;
}